<h1>About</h1>

<div class="about">
  <p>
    When Employees at my work first started daily office ergonomics exercises they posted a calendar and marked it off each time they completed the routine.  Staring at this mess of a calendar all day, I thought there had to be a better way.
  </p>
  <p>
    Built using Ruby on Rails the Exercise Tracker is a web application that provides users an intuitive interface to track their exercises.  Each time a user completes the exercise routine, they click the "I Exercised!" button on the top of the page.
  </p>
  <p>
    The Exercise Tracker records the inputs, organizes them, and provides an up-to-date leaderboard, as well as loserboard.  A message board provides space for users to interact with each other and communicate with others.
  </p>
  <p>
    To get started, simply <%= link_to "Sign Up", signup_path %> and follow the youtube video on the home screen. When the routine is complete, click "I Exercised!" to log your achievement.  Repeat two times each weekday, and once each day on the weekend.
  </p>
  <p>
    If you have any questions, comments, or suggestions please feel free to <%= link_to "contact me", contact_path %> using the provided form.
  </p>
</div>