<h1>Contact</h1>
<div class="about"> <!-- Sets form width -->
  <form action="https://formspree.io/mindovermiles262@gmail.com"
        method="POST">
      <input type="text" name="name" placeholder="Your Name">

      <input type="email" name="_replyto" placeholder="Your Email">

      <textarea name="comment" class="contact-message" placeholder="Enter a message"></textarea>
      <div class="contact-btn-holder">
      <input type="hidden" name="_next" value="//exercise-tracker-ad.herokuapp.com/" />
      <input type="submit" class="contact-btn" value="Send">
      <input type="reset" class="contact-btn" value="Reset">
      </div>
  </form> 
</div>