<div class="center jumbotron">
  <h1>Welcome to the Exercise Tracker</h1>

  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/LT_dFRnmdGs" frameborder="0" allowfullscreen></iframe></p>

  <h2>
    Inspired by poor posture and a youtube video, Exercise Tracker gamifies daily posture exercises
  </h2>

  <%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-primary" %>
</div>