<% provide(:title, "Leaderboard") %>
<h1>Leaderboard</h1>

<% @users.each_with_index do |user, index| %>
  <%= render partial: 'user_count', :locals => { user: user, index: index } %>
<% end %>


<%# <h1>Loserboard</h1> %>

<%#= @users %>

<%# @losers.each do |user| %>
  <%#= render partial: 'user_count', :locals => { user: user } %>
<%# end %>