<% provide(:title, "Leaderboard") %>
<h1>Leaderboard</h1>

<% @leaders.each do |user| %>
  <%= render partial: 'user_count', :locals => { user: user } %>
<% end %>

<h1>Loserboard</h1>

<% @losers.each do |user| %>
  <%= render partial: 'user_count', :locals => { user: user } %>
<% end %>