# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 7d5388eebdcf8e199c5c4c77378dcfbbc0c384e2df5f3b57e04e65ecbb13cfb204009568fa26220b4ac58a8f057be077d47e5e1f8726029a6acdb8594c08be53

test:
  secret_key_base: 8079b08232e289c5c33431376838897ba6d6f13617a844ada16e37d9d1d8ae95bd854caf02300d23d05ed9596793d780cac9424ba109bca551368c19730f1661

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
