<% provide(:title, "Message Board") %>
<h1>Message Board</h1>
<div class="col-md-2"></div>
<div class="col-md-8">
<h2><%= link_to "New Message", new_post_path, class: 'text-left' %></h2>
  <% @post.each do |p| %>
    <ol class="microposts">
      <%= render p %>
    </ol>
  <% end %>
  <%= will_paginate @post %>
</div>