<% provide(:title, "Message Board") %>
<h1>Message Board</h1>

<div class="col-md-8">
  <%= will_paginate @post %>
  <% @post.each do |p| %>
    <ol class="microposts">
      <%= render p %>
    </ol>
  <% end %>
  <%= will_paginate @post %>
  </div>