<h1>Calendar</h1>

<%= week_calendar(attribute: :exercise_time, events: @events) do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div>
      <%= event.user.name %>
    </div>
  <% end %>
<% end %>