<footer class="footer">
  <small>
    Built by <a href="http://www.andyduss.com">Andy Duss</a>
  </small>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/mindovermiles262/exercise-tracker">Hack Me</a></li>
    </ul>
</footer>