<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" id="logo">Exercise Tracker</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <!-- If Logged In: -->
        <li><a id="link">Profile</a></li>
        <li><a id="link">Leaderboard</a></li>
        <li><a class="emphasize" id="link">Enter Activity</a></li>
      <!-- As Guest -->
        <!-- <li><a id="link">Sign Up</a></li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>